<nav class="py-5 border-b border-gray-800">
  <div class="max-w-6xl mx-auto px-8 flex justify-between items-center">
    <ul class="flex items-center space-x-4">
      <li>
        <a
          href="https://github.com/vonlof/ngx-icons"
          class="hover:text-blue-500 text-gray-400"
          target="_blank"
        >
          <ngx-icon name="logo-github-mark" class="h-5"></ngx-icon>
        </a>
      </li>
      <li>
        <a
          href="https://www.npmjs.com/package/@vonlof/ngx-icons"
          class="hover:text-blue-500 text-gray-400"
          target="_blank"
        >
          <ngx-icon name="logo-npm" class="h-4 mt-1"></ngx-icon>
        </a>
      </li>
    </ul>
    <ul class="flex space-x-4 underline-offset-4 text-gray-400">
      <li>
        <a
          routerLink="/"
          routerLinkActive="underline text-blue-500"
          [routerLinkActiveOptions]="{ exact: true }"
          class="hover:text-blue-500"
        >
          Module
        </a>
      </li>
      <li>
        <a
          routerLink="/standalone"
          routerLinkActive="underline text-blue-500"
          class="hover:text-blue-500"
        >
          Standalone
        </a>
      </li>
    </ul>
  </div>
</nav>
<header
  class="py-20 w-full flex justify-center items-center border-b border-gray-800 relative overflow-hidden"
>
  <div class="absolute inset-0 pattern bg-gray-900 bg-[length:50px_50px]"></div>
  <div class="text-center space-y-3 z-20">
    <ngx-icon name="static-logo" class="h-28"></ngx-icon>
    <h1 class="text-5xl pb-2 font-extrabold text-gradient">NGX-ICONS</h1>
    <p class="text-gray-200 max-w-xl text-lg">
      Are you tired of relying on the same old icons in your Angular projects?
      Look no further than NgxIcons! Our straightforward package allows you to
      easily use your own custom icons in your Angular applications.
    </p>
  </div>
</header>
<div class="border-b border-gray-800">
  <div class="mx-auto max-w-5xl p-8 grid grid-cols-2 gap-5 text-gray-300">
    <div
      class="flex p-1 space-x-1 bg-gray-800 rounded"
      *ngFor="let npmInstall of npmInstalls"
    >
      <input
        [value]="npmInstall.value"
        class="flex-1 px-5 py-3 text-gray-400 bg-transparent text-base tracking-tighter outline-none"
        type="text"
        readonly
      />
      <button
        class="rounded bg-gray-700/30 hover:bg-gray-700/80 px-4"
        (click)="copyClipboard(npmInstall)"
      >
        <ngx-icon
          [name]="
            npmInstall.copied ? 'outline-document-check' : 'outline-clipboard'
          "
          [ngClass]="{ 'text-blue-700': npmInstall.copied }"
          class="h-5 text-gray-400"
        ></ngx-icon>
      </button>
    </div>
  </div>
</div>
<div class="max-w-6xl mx-auto p-8">
  <div
    class="border border-gray-800 rounded p-4 mb-4 grid grid-cols-3 gap-6 text-gray-400"
  >
    <div class="p-4 col-span-2">
      <span>
        In this demonstration, we are utilizing the meticulously crafted
        heroicons, created by the talented
        <a
          class="font-semibold hover:underline"
          href="https://tailwindcss.com/"
          target="_blank"
          >TailwindCSS</a
        >
        team. However, the purpose of this package is to provide a
        straightforward tool for Angular that allows you to easily use your own
        custom icons. We've downloaded these icons and re-optimized it with the
        help of the @vonlof/generate-icons package.
      </span>
    </div>
    <a
      class="flex items-center justify-center border border-gray-800 hover:bg-gray-800/30 rounded flex p-8"
      href="https://heroicons.com/"
      target="_blank"
    >
      <span class="flex-1 text-center text-xl font-semibold"> Heroicons </span>
      <ngx-icon name="solid-chevron-right" class="text-gray-400 h-6"></ngx-icon>
    </a>
  </div>
  <router-outlet></router-outlet>
</div>
<footer
  class="flex flex-col items-center justify-center py-10 border-t border-gray-800 space-y-2"
>
  <small class="text-xs text-gray-400">Powered by</small>
  <a
    href="https://www.vonlof.com"
    target="_blank"
    class="font-bold text-gray-300 text-2xl"
    >VONLOF</a
  >
</footer>
